<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{customerLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
</head>
<body>
<section layout:fragment="content">
        <div class="content container mt-5">
            <h1 class="text-center">Your Cart</h1>
            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody th:each="item :${cart.cartItems}">
                    <!-- Example of a cart item -->
                    <tr>
                        <td th:text="${item.product.name}"></td>
                        <td th:text="${item.product.price}"></td>
                        <td>
                            <form th:action="@{/updateItem(productId=${item.product.id})}" method="post">
                                <input type="number" name="quantity" class="form-control" th:value="${item.quantity}" onchange="this.form.submit()">
                            </form>
<!--                            <input type="number" class="form-control" th:value="${item.quantity}">-->
                        </td>
                        <td th:text="${item.totalPrice}"></td>
                        <td>
                            <form th:action="@{/removeItem(productId=${item.product.id})}" method="post">
<!--                                <input type="hidden" name="_method" value="delete">-->
<!--                                <input type="hidden" name="productId" th:value="${item.product.id}">-->
                                <button type="submit" class="btn btn-danger remove">Remove</button>
                            </form>
                        </td>
                    </tr>
                    <!-- Repeat for other cart items -->
                </tbody>
            </table>
            <div class="text-right">
                <h4 th:text="'Total: ' + ${cart.totalPrice}"></h4>
                <a th:href="@{customer/confirmAddress}" class="btn btn-primary">Proceed to Address Confirmation</a>
            </div>
        </div>
</section>

<section layout:fragment="scripts"></section>
</body>
</html>
