<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{customerLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Addresses</title>
</head>
<body>
<section layout:fragment="content">
    <div th:if="${successMessage != null}">
        <input type="hidden" id="successMessage" th:value="${successMessage}" />
    </div>
    <div class="content container mt-5">
        <h2 class="text-center my-4" th:if="${addressesResponseDTO.isEmpty()}">Addresses</h2>
        <h4 th:if="${addressesResponseDTO.isEmpty()}" class="text-center my-4 text-danger mt-2 font-italic">No Addresses Yet!</h4>
        <div class="row">
            <div class="col-md-4" th:each="address : ${addressesResponseDTO}">
                <div class="card item-card h-100 mx-auto">
                    <div class="card-body d-flex flex-column text-center my-4">
                        <h5 class="card-title" th:text="'Street: ' + ${address.street}">Street</h5>
                        <h5 class="card-text" th:text="'Residential Area: ' + ${address.residentialArea}">Residential Area</h5>
                        <h5 class="card-text" th:text="'City: ' + ${address.city}">City</h5>
                        <h5 class="card-text" th:text="'Country: ' + ${address.country}">Country</h5>
                        <div class="item-actions mt-auto">
                            <a class="btn btn-warning" th:href="@{|/customer/updateAddress/${address.id}|}">Update Address</a>
                            <a class="btn btn-danger" th:href="@{|/customer/deleteAddress/${address.id}|}">Remove Address</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" th:if="${!addressesResponseDTO.isEmpty()}">
            <div class="col-md-12 text-center mt-4">
                <ul class="pagination">
                    <li th:class="${pageNumber == 0} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link"
                           th:href="@{'/customer/addresses?pageNumber=' + ${pageNumber - 1}}">Previous</a>
                    </li>
                    <li th:class="${pageNum == pageNumber} ? 'page-item active' : 'page-item'"
                        th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                        th:if="${pageNum <= pageNumber + 1 && pageNum >= pageNumber - 1}">
                        <a class="page-link" th:href="@{'/customer/addresses?pageNumber=' + ${pageNum}}">
                            <span th:text="${pageNum + 1}"></span>
                        </a>
                    </li>
                    <li th:class="${pageNumber == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" th:href="@{'/customer/addresses?pageNumber=' + ${pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container form-container" style="margin-bottom: 0">
            <h3 class="text-center mb-4">Add New Address</h3>
            <form method="post" th:action="@{/customer/addAddress}" th:object="${addressRequestDTO}">
                <div class="form-group">
                    <label for="street">Street:</label>
                    <input class="form-control" id="street" name="street"
                           placeholder="Street" required
                           th:field="*{street}"
                           title="Street can't be empty!" type="text">
                </div>
                <div class="form-group">
                    <label for="area">Residential Area:</label>
                    <input class="form-control" id="area" name="area"
                           placeholder="Residential Area" required
                           th:field="*{residentialArea}"
                           title="Residential Area can't be empty!" type="text">
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input class="form-control" id="city" name="city"
                           placeholder="City" required
                           th:field="*{city}"
                           title="City can't be empty!" type="text">
                </div>
                <div class="form-group">
                    <label for="country">Country:</label>
                    <input class="form-control" id="country" name="country"
                           placeholder="Country" required
                           th:field="*{country}"
                           title="Street can't be empty!" type="text">
                </div>
                <div class="form-btn-container">
                    <button class="btn btn-success form-btn" type="submit">Add Address</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section layout:fragment="scripts">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const successMessage = document.getElementById('successMessage')?.value;

            if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: successMessage,
                    timer: 5000,
                    showConfirmButton: false
                });
            }
        });
    </script>
</section>
</body>
</html>