<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{customerLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment</title>
    <link th:href="@{/css/paymentStyles.css}" rel="stylesheet">
</head>
<body>
    <section layout:fragment="content">
        <div class="content">
            <div class="left-container">
                <h3>Payment Method</h3>
                <div class="payment-methods">
                    <div class="payment-method">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="CreditCard" checked>
                            <label class="form-check-label" for="CreditCard">
                                Credit Card
                            </label>
                        </div>
                        <div class="form-group mt-3" id="creditCardDetails">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" class="form-control" id="cardNumber" placeholder="Enter card number">
                            <label for="expiryDate" class="mt-2">Expiry Date</label>
                            <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY">
                            <label for="cvv" class="mt-2">CVV</label>
                            <input type="text" class="form-control" id="cvv" placeholder="CVV">
                        </div>
                    </div>

                    <div class="payment-method mt-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="CashOnDelivery">
                            <label class="form-check-label" for="CashOnDelivery">
                                Cash on Delivery
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary" id="confirmPaymentMethodBtn">Confirm Payment Method</button>
            </div>
            <div class="right-container">
                <h2>Order Summary</h2>
                <div class="order-summary" id="orderSummary">

                </div>
                <div class="btns">
                    <div class="confirm-button">
                        <button class="btn btn-primary" id="confirmOrderBtn" disabled>Place Order</button>
                    </div>

                </div>
                <div id="message" style="display:none;"></div>
            </div>
        </div>
    </section>

    <section layout:fragment="scripts">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const confirmPaymentMethodBtn = document.getElementById('confirmPaymentMethodBtn');
                const confirmOrderBtn = document.getElementById('confirmOrderBtn');
                const messageDiv = document.getElementById('message');
                const orderSummaryDiv = document.getElementById('orderSummary');

                const url = window.location.pathname;
                const addressId = url.split('/')[3];

                if (!addressId || addressId <= 0) {
                    window.location.href = "/cart";
                }





                // Fetch cart items and populate order summary
                fetch("/items")
                    .then(response => response.json())
                    .then(cartItems => {

                    if (cartItems.length === 0) {
                        window.location.href = "/shop";
                    } else {
                        populateOrderSummary(cartItems);
                    }})
                    .catch(error => {
                        showMessage('Error fetching cart items', 'error');
                    });


                confirmPaymentMethodBtn.addEventListener('click', function () {
                    const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').id;
                    if (paymentMethod === 'CreditCard') {
                          cardNumber = document.getElementById('cardNumber').value;
                        const expiryDate = document.getElementById('expiryDate').value;
                        const cvv = document.getElementById('cvv').value;
                        validateCard({ cardNumber, expiryDate, cvv });
                    } else {
                        confirmOrderBtn.disabled = false;
                        showMessage('Payment method confirmed. You can now place your order.', 'success');
                    }
                });

                function validateCard(cardDetails) {
                console.log(cardDetails)
                    fetch('http://localhost:8082/api/v1/card-validation/validate', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(cardDetails)
                    })
                    .then(response => response.text())
                    .then(data => {
                        if (data === 'Valid') {
                            confirmOrderBtn.disabled = false;
                            showMessage('Payment method confirmed. You can now place your order.', 'success');
                        } else {
                            showMessage(data, 'error');
                        }
                    })
                    .catch(error => {
                        showMessage('Error validating card details', 'error');
                    });
                }

                let taxes = 0;
                let shipping = 0;
                let total = 0;


                function populateOrderSummary(cartItems) {
                     let subtotal = 0;


                    cartItems.forEach(item => {
                        const productLine = document.createElement('div');
                        productLine.classList.add('summary-line');
                        productLine.innerHTML = `
                            <span>${item.product.name} x ${item.quantity}</span>
                            <span>$${item.totalPrice.toFixed(2)}</span>
                        `;
                        orderSummaryDiv.appendChild(productLine);
                        subtotal += item.totalPrice;
                    });


                     taxes = subtotal * 0.1; // Assuming a 10% tax rate
                     shipping = 5.00; // Flat shipping rate
                     total = subtotal + taxes + shipping;

                    orderSummaryDiv.innerHTML += `
                        <hr>
                        <div class="summary-line">
                            <span>Sub Total:</span>
                            <span>$${subtotal.toFixed(2)}</span>
                        </div>
                        <div class="summary-line">
                            <span>Taxes:</span>
                            <span>$${taxes.toFixed(2)}</span>
                        </div>
                        <div class="summary-line">
                            <span>Shipping:</span>
                            <span>$${shipping.toFixed(2)}</span>
                        </div>
                        <hr>
                        <div class="summary-line">
                            <span>Total:</span>
                            <span>$${total.toFixed(2)}</span>
                        </div>
                    `;
                }

                function showMessage(message, type) {
                    messageDiv.style.display = 'block';
                    messageDiv.textContent = message;
                    messageDiv.className = type === 'success' ? 'alert alert-success' : 'alert alert-danger';
                }

                 confirmOrderBtn.addEventListener('click', function () {
                    const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').id;
                    const orderDetails = {
                        paymentMethod: paymentMethod,
                        addressId: addressId,
                        cardNumber: document.getElementById('cardNumber').value,
                        orderItems: [],
                        totalPrice: total,
                        taxes: taxes,
                        deliveryFees: shipping
                    };

                    fetch("/items")
                        .then(response => response.json())
                        .then(cartItems => {
                            cartItems.forEach(item => {
                                orderDetails.orderItems.push({
                                    product: item.product,
                                    quantity: item.quantity,
                                    totalPrice: item.totalPrice
                                });
                            });
                            fetch('/api/v1/orders/place-order', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(orderDetails)
                })
                .then(response => response.json())
                .then(data => {
                        if (data.message === "Order Placed Successfully") {
                        showMessage(data.message, 'success');
                        window.location.href = `/order/orders/${data.orderId}`;
                        }
                        else {
                               showMessage(data.message, 'error');
                        }
                })
                .catch(error => {
                    showMessage('Error placing order: ' + error.message, 'error');
                });
            })
            .catch(error => {
                showMessage('Error fetching cart items: ' + error.message, 'error');
            });
                });
                document.querySelectorAll('input[type="radio"]').forEach(radio => {
                    radio.addEventListener('change', function () {
                        const creditCardDetails = document.getElementById('creditCardDetails');
                        creditCardDetails.querySelectorAll('input').forEach(input => {
                            input.disabled = this.id === 'CashOnDelivery';
                        });
                    });
                });
            });
        </script>
    </section>
</body>
</html>
