<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{customerLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .star {
            font-size: 1.5em;
            color: gold;
        }
        .empty-star {
            color: lightgray;
        }
    </style>
</head>
<body>
    <section layout:fragment="content">
        <div class="content container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <img th:src="${productResponse.imageUrl}" class="img-fluid" alt="Product Image">
                    <div th:each="cartItem : ${cartItemsResponse}">
                                    <span th:if="${cartItem.product.id == productResponse.id}"
                                          th:text="${cartItem.quantity}"
                                          class="badge badge-pill badge-primary position-absolute bg-light text-dark"
                                          style="top: 10px; right: 10px;">
                                    </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 th:text="${productResponse.name}"></h1>
                    <h2 th:text="${productResponse.price}"></h2>
                    <form th:action="@{/addItem(productId=${productResponse.id})}" method="post" class="mt-auto" onsubmit="handleAddToCart(event); storeScrollPosition();">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                    <br>
                    <div class="card mb-4">
                        <p th:text="${productResponse.description}" class="mt-4"></p>
                    </div>
                    <div>
                        <div id="ratingStars"></div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <section layout:fragment="scripts">
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const scrollPosition = localStorage.getItem('scrollPosition');
                if (scrollPosition) {
                    window.scrollTo(0, parseInt(scrollPosition));
                    localStorage.removeItem('scrollPosition');  // Clean up the stored scroll position
                }

                // Display the average rating as stars
                const averageRating = [[${productResponse.averageRating}]];
                const ratingStarsContainer = document.getElementById('ratingStars');

                for (let i = 1; i <= 5; i++) {
                    const star = document.createElement('span');
                    star.classList.add('star');
                    star.innerHTML = (i <= averageRating) ? '&#9733;' : '&#9734;';
                    ratingStarsContainer.appendChild(star);
                }
            });

            function storeScrollPosition() {
                localStorage.setItem('scrollPosition', window.scrollY);
            }
        </script>
        <script>
            async function handleAddToCart(event) {
                event.preventDefault();

                const form = event.target;
                const formData = new FormData(form);
                const data = Object.fromEntries(formData.entries());

                const response = await fetch(form.action, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    // Show success message
                    Swal.fire({
                        icon: 'success',
                        title: 'Added to Cart',
                        text: 'Product successfully added to your cart.',
                        timer: 3000,
                        showConfirmButton: false
                    }).then(() => {
                        // Redirect to a new page
                        window.location.href = window.location.href; // Replace with your actual redirect URL
                    });
                } else if (response.status === 400) {
                   Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Failed to add product to cart. The quantity is not available in stock.',
                timer: 3000,
                showConfirmButton: false
            });}
            else {
                    // Handle any errors if needed
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Failed to add product to cart.',
                        timer: 3000,
                        showConfirmButton: false
                    });
                }
            }
        </script>
    </section>
</body>
</html>
