body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    margin-left: 20px;
}
html, body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
footer {
    flex-shrink: 0;
}
.form-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 50px;
    height: fit-content;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group{
    margin-bottom: 30px;
}
.form-btn-container{
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
.form-btn{
    min-width: fit-content;
    width: 40%;
}
.forgot-password {
    margin-top: 10px;
    text-align: center;
}
.forgot-password a {
    color: #3D5467;
}
.form-inline {
    margin-left: auto;
}
.navbar a img{
    border-radius: 8px;
}

.navbar li a:hover{
    color: #424C48;
}
.navbar{
    border-radius: 0px 0px 15px 15px;
}
.btn-primary{
    background-color: #71816D;
    border: none;
}

.btn-outline-success{
    background-color: #7E9181;
    border: none;
    color: white;
}

.btn-outline-success:hover{
    background-color: #60B08A;
    border: none;
    color: white;
}

.btn-primary:hover{
    background-color: #80826D;
    border: none;
}