.content {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex: 1;
    padding: 20px;
    margin: 0 40px;
}
.left-container{
    width: 55%;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
}
.right-container{
    width: 40%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}
.payment-methods, .order-summary {
    flex: 1;
    padding: 25px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 30px;
}
.payment-method {
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%;
}
.payment-method label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.form-check-input {
    margin-top: 5px;
}
.summary-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
}
.btns{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    margin: 10px 20px;
}
.btns button {
    margin-left: 15px;
}

.footer {
    margin-top: auto;
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}