<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout}">
<head>
    <title>Update Admin</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="content">
            <div class="container form-container">
                <h2 class="text-center mb-4">Update Admin Attributes</h2>
                
                <!-- Update Name Form -->
                <form th:action="@{|/admin/updateAdminName/${admin.id}|}" method="post">
                    <div class="form-group">
                        <label for="name">Admin Name:</label>
                        <input type="text" class="form-control" id="name" name="name" value="${admin.name}" required>
                        <button type="submit" class="btn btn-warning form-btn">Update Name</button>
                    </div>
                </form>
                
                <!-- Update Email Form -->
                <form th:action="@{|/admin/updateAdminEmail/${admin.id}|}" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="${admin.email}" required>
                        <button type="submit" class="btn btn-warning form-btn">Update Email</button>
                    </div>
                </form>
                
                <!-- Update Phone Number Form -->
                <form th:action="@{|/admin/updateAdminPhoneNumber/${admin.id}|}" method="post">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="${admin.phoneNumber}" required>
                        <button type="submit" class="btn btn-warning form-btn">Update Phone Number</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
