<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout}">
<head>
    <title>Products</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="content container mt-5">
            <div class="jumbotron text-center">
                <h1 class="display-4">Manage Products</h1>
                <p class="lead">View and manage all products on your site.</p>
            </div>

            <h2 class="text-center my-4">Products List</h2>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <form class="form-inline" th:action="@{/admin/products}" method="get">
                        <label class="my-1 mr-2" for="categoryFilter">Filter by Category:</label>
                        <select class="custom-select my-1 mr-sm-2" id="categoryFilter" name="categoryId">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">Category Name</option>
                        </select>
                        <button type="submit" class="btn btn-primary my-1">Apply Filter</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div th:each="product : ${productsResponse}" class="col-md-4">
                    <div class="card item-card">
                        <img th:src="@{|/images/products/${product.imageUrl}|}" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}">Product Name</h5>
                            <p class="card-text" th:text="'$' + ${product.price}">Price</p>
                            <p class="card-text" th:text="'Stock: ' + ${product.stock}">Stock</p>
                            <p class="card-text" th:text="'Sold: ' + ${product.numberOfSoldItems}">Sold</p>
                            <p class="card-text" th:text="${product.description}">Product Description</p>
                            <div class="item-actions">
                                <a th:href="@{|/admin/updateProduct/${product.id}|}" class="btn btn-warning">Update</a>
                                <a th:href="@{|/admin/deleteProduct/${product.id}|}" class="btn btn-danger">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more products similarly -->
            </div>

            <!-- Pagination -->
           <!-- <div class="row">
                <div class="col-md-12 text-center mt-4">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>-->

            <div class="text-center mt-4">
                <a th:href="@{/admin/addProduct}" class="btn btn-success">Add New Product</a>
            </div>
        </div>
    </section>
</body>
</html>
