<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>

</head>
<body>
<section layout:fragment="content">
    <div th:if="${errorMessage != null}">
        <input type="hidden" id="errorMessage" th:value="${errorMessage}" />
    </div>
    <div th:if="${successMessage != null}">
        <input type="hidden" id="successMessage" th:value="${successMessage}" />
    </div>
    <div class="content container mt-5">
        <div class="jumbotron text-center"
             style=" background-image: url('https://images.pexels.com/photos/6956803/pexels-photo-6956803.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
                  background-size: cover; background-position: center;">
            <h1 class="display-4">Manage Categories</h1>
            <p class="lead">View and manage all Categories on your site.</p>
        </div>

        <h2 class="text-center my-4">Categories List</h2>
        <h4 th:if="${categoriesDTO.isEmpty()}" class="text-center my-4 text-danger mt-2 font-italic">No Categories Yet!</h4>
        <div class="row">
            <div class="col-md-4" th:each="category : ${categoriesDTO}">
                <div class="card item-card h-100 mx-auto">
                    <div class="card-body d-flex flex-column text-center">
                        <h4 th:text="${category.name}"></h4>
                        <p>Category ID: <span th:text="${category.id}"></span></p>
                        <form method="post" th:action="@{|/admin/updateCategory/${category.id}|}"
                              th:object="${categoryDTO}">
                            <div class="form-group">
                                <label for="name">Update Category Name</label>
                                <input class="form-control" name="name"
                                       placeholder="Category Name" required
                                       th:field="*{name}"
                                       title="Name can't be empty!" type="text">
                            </div>
                            <div class="form-btn-container">
                                <button class="btn btn-warning form-btn" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" th:if="${!categoriesDTO.isEmpty()}">
            <div class="col-md-12 text-center mt-4">
                <ul class="pagination">
                    <li th:class="${pageNumber == 0} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link"
                           th:href="@{'/admin/categories?pageNumber=' + ${pageNumber - 1}}">Previous</a>
                    </li>
                    <li th:class="${pageNum == pageNumber} ? 'page-item active' : 'page-item'"
                        th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                        th:if="${pageNum <= pageNumber + 1 && pageNum >= pageNumber - 1}">
                        <a class="page-link" th:href="@{'/admin/categories?pageNumber=' + ${pageNum}}">
                            <span th:text="${pageNum + 1}"></span>
                        </a>
                    </li>
                    <li th:class="${pageNumber == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" th:href="@{'/admin/categories?pageNumber=' + ${pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container form-container" style="margin-bottom: 0">
            <h3 class="text-center mb-2">Add New Category</h3>
            <form method="post" th:action="@{/admin/addCategory}" th:object="${categoryDTO}">
                <div class="form-group">
                    <label for="name">Category Name:</label>
                    <input class="form-control" id="name" name="name"
                           placeholder="Category Name" required
                           th:field="*{name}"
                           title="Name can't be empty!" type="text">
                </div>
                <div class="form-btn-container">
                    <button class="btn btn-success form-btn" type="submit">Add Category</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section layout:fragment="scripts">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const errorMessage = document.getElementById('errorMessage')?.value;
            const successMessage = document.getElementById('successMessage')?.value;

            if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage,
                    timer: 5000,
                    showConfirmButton: false
                });
            } else if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: successMessage,
                    timer: 5000,
                    showConfirmButton: false
                });
            }
        });
    </script>
</section>
</body>
</html>
