<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Admin Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/admin/home}" style="width: 15%;"><img th:src="@{/images/Logo.png}" alt="Logo" style="height: 50px; width: fit-content;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/home}" th:classappend="${currentUri  == '/admin/home'} ? 'active'">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/admins}" th:classappend="${currentUri  == '/admin/admins'} ? 'active'">Admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/products}" th:classappend="${currentUri  == '/admin/products'} ? 'active'">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/categories}" th:classappend="${currentUri  == '/admin/categories'} ? 'active'">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <h3 class="title" style="width: 15%;">Admin Dashboard</h3>
        </nav>
    </header>
<main layout:fragment="content"></main>

    <footer class="bg-dark text-white p-4 text-center mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>&copy; Your Company Name</p>
                </div>
            </div>
        </div>
    </footer>

</div>

<section layout:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</section>

</body>
</html>