<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="width: 15%;"><img th:src="@{/images/Logo.png}" alt="Logo" style="height: 50px; width: fit-content;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/home" th:classappend="${currentUri  == '/customer/home'} ? 'active'">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop" th:classappend="${currentUri  == '/shop'} ? 'active'">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/orders" th:classappend="${currentUri  == '/order/orders'} ? 'active'">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/addresses" th:classappend="${currentUri  == '/customer/addresses'} ? 'active'">Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart" th:classappend="${currentUri  == '/cart'} ? 'active'">Cart
                            <i class="fas fa-shopping-cart" style=""></i>
                                <span th:if="cartQuantity != 0" th:text="${cartQuantity}"
                                      class="position-absolute top-0 start-100 translate-middle badge rounded bg-light text-dark">
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="form-inline ml-3" style="width: 15%;" action="/search" method="GET">
                <div class="input-group">
                    <input class="form-control border-radius-left" type="search" placeholder="Search" aria-label="Search" name="name" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-success border-radius-right" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </nav>
    </header>
    <main layout:fragment="content"></main>

    <footer class="bg-dark text-white p-4 text-center mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>&copy; TAY Online Store</p>
                </div>
            </div>
        </div>
    </footer>

</div>

<section layout:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</section>

</body>
</html>