<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{userLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset</title>
</head>
<body>
<section layout:fragment="content" class="main-section my-auto">
    <div class="content">
        <div class="container form-container">
            <h2 class="text-center mb-4">Reset Password</h2>
            <form th:action="@{/forgot-password}" method="post" id="requestPasswordResetForm">
                <div class="form-items">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-btn-container">
                        <button type="submit" class="btn btn-primary form-btn">Send Reset Link</button>
                    </div>
                </div>
            </form>
            <p th:if="${error}" th:text="${error}" style="color: red; font-style: italic;"></p>
        </div>
    </div>
</section>

<section layout:fragment="scripts">
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("requestPasswordResetForm");
        form.addEventListener("submit", async function (event) {
            event.preventDefault();

            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

             Swal.fire({
            icon: 'info',
            title: 'Sending Email',
            text: 'Please wait while we send the email.',
            allowOutsideClick: false,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

            const response = await fetch('/forgot-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });



            const result = await response.json();

            Swal.fire({
                icon: result.success ? 'success' : 'error',
                title: result.success ? 'Success' : 'Error',
                text: result.message,
                timer: 3000,
                showConfirmButton: false
            });

            if (result.success) {
                form.reset();
            }

        });
    });
</script>
</section>
</body>
</html>

