<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{userLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>

<section layout:fragment="content"  class="main-section my-auto">
        <div class="content">
            <div class="container form-container">
                <h2 class="text-center mb-4">Register</h2>
                <form method="post" th:action="@{/register}" th:object="${customerDTO}">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input class="form-control" id="name" name="name"
                               placeholder="Enter Your Name" required
                               th:field="*{name}"
                               title="Name can't be empty!" type="text">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" name="email"
                               placeholder="Enter Your Email" required
                               th:field="*{email}" type="email">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input class="form-control" id="phoneNumber" name="phoneNumber"
                               pattern="^(010|011|012|015)\d{8}$" placeholder="Enter Your Phone Number"
                               required
                               th:field="*{phoneNumber}"
                               title="Phone number must be a valid Egyptian phone number starting with 010, 011, 012, or 015 followed by 8 digits." type="text">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" id="password" name="password"
                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" placeholder=" Enter Your Password"
                               required
                               th:field="*{password}"
                               title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character." type="password">
                    </div>
                    <div class="form-btn-container">
                        <button type="submit" class="btn btn-primary form-btn">Register</button>
                    </div>
                </form>
                <p th:if="${error}" th:text="${error}" style="color: red; font-style: italic;"></p>
            </div>
        </div>

</section>

<section layout:fragment="scripts"></section>
</body>
</html>

