<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/outerStyles.css}">
    <title>Register</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/login}"><img th:src="@{/images/Logo.png}" alt="Logo" style="height: 50px; width: fit-content;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="content">
            <div class="container form-container">
                <h2 class="text-center mb-4">Register</h2>
                <form method="post" th:action="@{/register}" th:object="${customerDTO}">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input class="form-control" id="name" name="name"
                               placeholder="Enter Your Name" required
                               th:field="*{name}"
                               title="Name can't be empty!" type="text">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" name="email"
                               placeholder="Enter Your Email" required
                               th:field="*{email}" type="email">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input class="form-control" id="phoneNumber" name="phoneNumber"
                               pattern="^(010|011|012|015)\d{8}$" placeholder="Enter Your Phone Number"
                               required
                               th:field="*{phoneNumber}"
                               title="Phone number must be a valid Egyptian phone number starting with 010, 011, 012, or 015 followed by 8 digits." type="text">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" id="password" name="password"
                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" placeholder=" Enter Your Password"
                               required
                               th:field="*{password}"
                               title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character." type="password">
                    </div>
                    <div class="form-btn-container">
                        <button type="submit" class="btn btn-primary form-btn">Register</button>
                    </div>
                </form>
                <p th:if="${error}" th:text="${error}" style="color: red; font-style: italic;"></p>
            </div>
        </div>

        <footer class="bg-dark text-white p-4 text-center mt-auto">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>&copy; Your Company Name</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

